@import '../../assets/bower_components/bemify/sass/bemify'
@import '../../assets/bower_components/sass-flex-mixin/flex'
@import '../../assets/bower_components/sass-mixins/mixins'
@import '../../assets/bower_components/Buttons/scss/buttons'
@import 'variables'
*
  margin: 0
  padding: 0
  box-sizing: border-box
  line-height: 1.2

img
  max-width: 100%

ul.list_none
  margin: 0
  padding: 0
  li
    list-style-type: none
    margin: 0
    padding: 0
p
  margin: 0
  padding: 0
