@import '../../assets/bower_components/bemify/sass/bemify'
@import '../../assets/bower_components/sass-flex-mixin/flex'
@import '../../assets/bower_components/sass-mixins/mixins'
@import '../../assets/bower_components/Buttons/scss/buttons'
@import 'variables'
@import 'fonts'
*
  margin: 0
  padding: 0
  box-sizing: border-box
  line-height: 1.2

img
  max-width: 100%

ul.list_none
  margin: 0
  padding: 0
  li
    list-style-type: none
    margin: 0
    padding: 0
p
  margin: 0
  padding: 0

.center 
  margin: 0 auto
  text-align: center

.notice
  margin-bottom: 20px

body 
  +transition(all ease-in-out 500ms)
  > .page-wrapper
  position: relative

.loading
  top: -100%
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .8)
  z-index: 1000
  overflow: hidden
  position: absolute
  opacity: 1
  +transition(all ease-in-out 500ms)
  body.open & 
    position: fixed
    top: 0
    opacity: 1
    +transition(all ease-in-out 500ms)
  .loading-image-wrapper
    position: relative
    padding-top: 50%
    .loading-image
      position: absolute
      display: block
      top: 50%
      left: 50%
      background-image: image_url('spin.svg')
      background-position: center center
      background-repeat: no-repeat
      z-index: 2000
      width: 50%
      height: 50%
      -webkit-transform: translate(-50%, -50%)
      -moz-transform: translate(-50%, -50%)
      -ms-transform: translate(-50%, -50%)
      -o-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)

